*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.boxRelative {
    position: relative;
}

.centralizar {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}